.dikCizgiActive{
	background:#121212;
	position:absolute;
	z-index:20;
}
.dikCizgiDeActive{
	position:absolute;
	background:#ddd;
	cursor:pointer;
	z-index:10;
}
.dikCizgiDeActive:hover{
	background:#c00 !important;
	z-index:30;
}
.yanCizgiActive{
	background:#121212;
	position:absolute;
	z-index:20;
}
.yanCizgiActive:hover{
	z-index:999;
}
.yanCizgiDeActive{
	position:absolute;
	background:#ddd;
	cursor:pointer;
	z-index:10;
}
.yanCizgiDeActive:hover{
	background:#c00 !important;
	z-index:30;
}
.lineOver{
	background:#c00;
	z-index:30;
}
.lineOut{
	background:#ddd;
	z-index:10;
}
.main{
	width:100%;
	height:100%;
}
.game{
	position:relative;
	float:left;
	display:none;
}
.firstLogin{
	background:#4352a3;
	width:60%;
	height:90%;
	margin:0 auto;
	float:none;
	padding:5%;
}
.inputUserName{
	width:80%;
	border:0;
	padding:2.5%;
	float:none;
	margin:0 auto;
	display:block;
	height:40px;
}
.loginButton,.anaMenuyeDon{
	width:90%;
	height:40px;
	font-size:20px;
	border:0;
	display:block;
	margin:0 auto;
	float:none;
	margin-top:20px;
	color:#ddd;
	background:#b22035;
	cursor:pointer;
}
.anaMenu{
	width:100%;
	height:100%;
	background:#1b75bb;
	display:none;
}
.arkadasinlaOyna{
	width:90%;
	height:5%;
	padding:5%;
	color:#fff;
	text-align:center;
	font-size:100%;
	cursor:pointer;
	background:#f68a1e;
}
.rastgeleOyna{
	width:90%;
	height:5%;
	padding:5%;
	color:#fff;
	text-align:center;
	font-size:100%;
	cursor:pointer;
	background:#b22035;
}
.arkadasinlaMenu,.rastGeleMenu{
	display:block;
	width:100%;
	height:25%;
	text-align:center;
}
.arkadasinlaOynaMenu{
	
}
.createdCode{
	width:80%;
	height:10%;
	float:none;
	margin:0 auto;
}
.arkadasinlaOynaYeniOlustur{
	width:80%;
	height:10%;
	float:none;
	margin:0 auto;
	cursor:pointer;
}
.arkadasinlaOynaMenu h3{
	display:block;
	width:80%;
	height:10%;
	color:#f68a1e;
	text-align:center;
	font-family:Verdana;
	float:none;
	margin:0 auto;
}
.arkadasinlaOynaMenu span{
	display:block;
	width:80%;
	height:10%;
	color:#f68a1e;
	text-align:center;
	font-family:Verdana;
	float:none;
	margin:0 auto;
}
.loginGameCode{
	width:80%;
	height:10%;
	float:none;
	margin:0 auto;
}
.arkadasinlaOynaYeniOyunaKatil{
	width:80%;
	height:10%;
	float:none;
	margin:0 auto;
	cursor:pointer;
}

.showUserName{
	width:90%;
	height:5%;
	padding:5%;
	color:#fff;
	text-align:center;
	font-size:100%;
}
.board{
	display:none;
}
.ad{
	display:none;
}
.gameOver{
	background:#4352a3;
	width:60%;
	height:50%;
	margin:0 auto;
	float:none;
	padding:5%;
	display:none;
	position:absolute;
	z-index:50;
	left:15%;
	top:25%;
}